/*spacer*/
/*created based on the guide Maria provided in WNM 755*/
/*Mobile first*/

.tp-spc-xs {
	padding-top: 10px;
}
.tp-spc-sm {
	padding-top: 15px;
}
.tp-spc-md {
	padding-top: 20px;
}
.tp-spc-lg {
	padding-top: 35px;
}
.tp-spc-xl {
	padding-top: 55px;
}

.bt-spc-xs {
	padding-bottom: 10px;
}
.bt-spc-sm {
	padding-bottom: 15px;
}
.bt-spc-md {
	padding-bottom: 20px;
}
.bt-spc-lg {
	padding-bottom: 35px;
}
.bt-spc-xl {
	padding-bottom: 55px;
}

@media (min-width: 768px) {
	.tp-spc-xs {
		padding-top: 25px;
	}
	.tp-spc-sm {
		padding-top: 30px;
	}
	.tp-spc-md {
		padding-top: 45px;
	}
	.tp-spc-lg {
		padding-top: 55px;
	}
	.tp-spc-xl {
		padding-top: 80px;
	}

	.bt-spc-xs {
		padding-bottom: 25px;
	}
	.bt-spc-sm {
		padding-bottom: 30px;
	}
	.bt-spc-md {
		padding-bottom: 45px;
	}
	.bt-spc-lg {
		padding-bottom: 55px;
	}
	.bt-spc-xl {
		padding-bottom: 80px;
	}
}